body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 0;
}

main{
    margin-bottom: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#logo {
  height: 3vh;
  margin-left: 55px;
  margin-right: 20px;
}

.header-main {
  display: flex;
  align-items: center;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: #262626;
  font-size: 13px;
  padding-bottom: 4px;
}

header a:hover {
  border-bottom: 2px solid #262626;
}

.header-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 65px;
}

.header-service div {
  display: flex;
  align-items: center;
}

#cart {
  display: flex;
  align-items: center;
}

#cart_img {
  height: 2vh;
}

#login_img {
  height: 3vh;
}

.banner {
  text-align: center;
  background-color: #0067b8;
  padding: 1.5rem;
}

.banner a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.banner a:hover {
  text-decoration: underline;
}

.slider {
  background-image: url(images/background.avif);
  background-size: cover;
  background-position: center;
  padding: 17vh 15vw;
  height: 30vh;
  position: relative;
}

.card {
  background-color: #fff;
  width: 40%;
  padding: 10px 25px 20px 25px;
  position: absolute;
  left: 50px;
  top: 30px;
}

.shop {
  background-color: #0067b8;
  padding: 6px 10px;
  border: none;
}

.shop a {
  color: #fff;
  text-decoration: none;
}

#menu{
    display: flex;
    justify-content: space-around;
    margin: 7vh auto;
    width: 80%;
}

#menu div{
    display: flex;
    flex-direction: column;
}

#menu div img{
    height: 5vh;
}

.a_menu{
    color: #0067b8;
    text-decoration: 2px underline #0067b8;
    font-weight: 600;
    border: 3px dotted #fff;
    padding: 0;
    font-size: 15px;
}

#news{
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}

.news-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 21vw;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .13);
    padding-bottom: 2vh;
}

.news-item img{
    width: 21vw;
}

.news-item h1{
    font-size: 28px;
}

.news-item button{
    width: 45%;
}

.news-item h1,p, button{
    margin-left: 15px;
}