.menu{
  background-color: var(--accent-color);
  padding: 12px 20px;
}
.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.category-list li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.category-list li a:hover{
  text-decoration: underline;
}
